.footer {
  display: flex;
  border-top: 1px solid #192f37;
  justify-content: space-between;
  padding-bottom: 57px;
  padding-top: 42px;
}

.footer__left {
  display: flex;
  align-items: center;
}

.footer__right {
  display: flex;
  align-items: end;
}

.socials {
  top: 49px;
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5.5px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: inline-block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.contacts__text {
  color: #9A9A9A;
  font-size: 11px;
}

.socials__link {
  background: url('../../img/sprite.png') 200px 200px;
}

.tg {
  background-position: -66px -122px;;
}

.tg:hover {
  background-position: -10px -122px;
}

.vk {
  background-position: -122px -66px;
}

.vk:hover {
  background-position: -122px -10px;
}

.fb {
  background-position: -66px -66px;
}

.fb:hover {
  background-position: -10px -66px;
}

.inst {
  background-position: -66px -10px;
}

.inst:hover {
  background-position: -10px -10px;
}




