.menu {
  left: 165px;
  top: 40px;
}

.menu__item {
  display: inline-block;
  font-size: 14px;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #FFF;
  font-size: 14px;
}

.menu__item--active .menu__link {
  font-weight: 700;
  font-size: 16px;
}
